.NotFound{
    text-align: center;
    h1{
        font-size: 64px;
    }
    p{
        font-size: 18px;
        margin-bottom: 22px;
    }
    button{
        cursor: pointer;
        background-color: #fe5f1e;
        color: #FFFFFF;
        border: none;
        padding: 12px 25px;
        font-size: 18px;
        border-radius: 30px;
        border: 1px solid #FFFFFF;
        transition: all 0.20s ease-in-out;
        &:hover{
            background-color: #ff4800;
        }
    }
}